In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm import tqdm
import copy
import json

# Import data

In [7]:
borough_coordinates = gpd.read_file("../data/input/misc/borough_coordinates.json").set_index('borough')

In [8]:
# Import Borough json
with open('../data/raw/misc/london_boroughs.json') as json_file:
    boroughs_coords = json.load(json_file)

In [9]:
# Import commuter data
borough_commuters = pd.read_csv("../data/raw/commuter/commuting-patterns-borough.csv")
bc = copy.deepcopy(borough_commuters)

# Clean Borough names and Origin/Destination dataframe

In [10]:
# Collect borough names
boroughs = []
boroughs_no_spaces = []
for f in tqdm(boroughs_coords['features']):
    boroughs.append(f['properties']['name'])
    boroughs_no_spaces.append(f['properties']['name'].replace(" ", ""))

100%|██████████| 33/33 [00:00<00:00, 48685.20it/s]

In [11]:
# Subset columns based on borough names
bc = bc[['Origin Area']+boroughs+['Into area (A)','Out of area (B)']]

# Subset rows based on borough names
bc = bc[bc['Origin Area'].isin(boroughs)]

In [12]:
# Remove spaces from origin names
bc.loc[:,'Origin Area'] = bc['Origin Area'].apply(lambda x: x.replace(" ",""))
# Remove spaces from destination names
bc = bc.rename(columns = dict(zip(np.sort(boroughs), np.sort(boroughs_no_spaces))))

In [13]:
# Separate inflow/outflow columns from rest of O/D matrix
in_out_flows = copy.deepcopy(bc[['Origin Area','Into area (A)','Out of area (B)']])
od_matrix = copy.deepcopy(bc.drop(columns=['Into area (A)','Out of area (B)']))

# Rename columns
in_out_flows = in_out_flows.rename(columns={'Origin Area':'Origin','Into area (A)':'Inflows','Out of area (B)':'Outflows'})
od_matrix = od_matrix.rename(columns={'Origin Area':'Origin'})

# Update index
in_out_flows = in_out_flows.set_index(keys='Origin')
od_matrix = od_matrix.set_index(keys='Origin')

# Sort by index
in_out_flows = in_out_flows.sort_index(axis=0)
od_matrix = od_matrix.sort_index(axis=1).sort_index(axis=0)

In [14]:
# Get origin supply
origin_supply = copy.deepcopy(od_matrix.sum(axis=1).reset_index())
# origin_supply = origin_supply.rename(columns={'index':'Origin',0:'Supply'})
origin_supply.columns = ['Origin','Supply']
origin_supply = origin_supply.set_index('Origin').sort_index()
origin_supply['lon'] = borough_coordinates['lon'].values
origin_supply['lat'] = borough_coordinates['lat'].values

In [15]:
# Get destination demand
destination_demand = copy.deepcopy(od_matrix.sum(axis=0).reset_index())
#destination_demand = destination_demand.rename(columns={'Origin':'Destination',0:'Demand'})
destination_demand.columns = ['Destination','Demand']
destination_demand = destination_demand.set_index('Destination').sort_index()
destination_demand['lon'] = borough_coordinates['lon'].values
destination_demand['lat'] = borough_coordinates['lat'].values

In [16]:
# Replace zeros with ones
od_matrix = od_matrix.replace(0,1)

In [17]:
od_matrix

,BarkingandDagenham,Barnet,Bexley,Brent,Bromley,Camden,CityofLondon,Croydon,Ealing,Enfield,...,Merton,Newham,Redbridge,RichmonduponThames,Southwark,Sutton,TowerHamlets,WalthamForest,Wandsworth,Westminster
Origin,,,,,,,,,,,,,,,,,,,,,
BarkingandDagenham,20434,194,96,178,66,1500,3641,104,188,410,...,67,4460,5940,28,926,38,4069,1047,165,3280
Barnet,96,44045,34,5467,76,12080,7709,148,1573,4098,...,146,387,305,229,1792,44,2511,555,536,16330
Bexley,362,132,33681,144,4998,2470,6580,710,188,123,...,190,574,111,90,4666,170,2825,222,618,7692
Brent,40,6124,28,32105,66,8105,4145,187,6703,426,...,203,279,116,396,1565,56,1655,210,669,16418
Bromley,134,162,3199,201,51289,3780,9855,6268,293,84,...,647,419,100,191,6057,796,3385,196,1371,12802
Camden,36,1496,32,1350,60,26535,8795,147,643,295,...,139,290,84,195,1784,54,2614,204,588,18829
CityofLondon,6,14,1,16,1,335,1627,3,9,6,...,6,16,1,6,103,3,266,16,16,602
Croydon,85,204,300,329,5152,3248,5925,65033,405,120,...,3521,202,64,480,4513,6744,2000,130,4270,10583
Ealing,30,967,33,5263,91,4547,4855,182,42004,223,...,361,229,79,1578,1328,65,1420,127,944,13967
Enfield,217,5642,52,1038,76,5588,5212,136,626,44370,...,114,661,538,98,1253,47,2141,1710,314,9052
Greenwich,333,181,5046,252,3196,3038,5614,692,248,192,...,237,981,126,113,5145,134,3643,244,940,8847
Hackney,222,687,56,514,90,7137,5181,128,450,877,...,121,1069,402,149,2023,58,5247,1101,567,9983
HammersmithandFulham,25,259,19,812,56,4009,7967,202,2418,82,...,466,123,33,854,1374,113,1947,66,1908,15305
Haringey,144,3016,32,1074,64,10506,5523,213,668,4249,...,136,520,278,180,1857,48,2350,1004,507,13479
Harrow,55,5008,26,9473,47,3675,3162,103,4542,325,...,119,99,44,246,854,34,1013,95,300,7882
Havering,7278,194,325,156,157,2001,8348,131,165,546,...,85,3410,4844,45,1389,50,5030,1173,158,4699
Hillingdon,31,692,18,2672,55,1757,1661,116,8185,153,...,167,83,35,548,511,58,565,53,248,5062
Hounslow,19,253,27,807,69,1753,2342,215,5488,92,...,303,100,31,7025,657,101,753,41,765,5927
Islington,110,1001,46,538,46,10188,7931,157,479,619,...,131,348,117,118,1883,56,2837,393,490,12835
KensingtonandChelsea,22,232,20,548,64,3554,10098,165,861,48,...,208,68,30,300,1168,67,2957,68,1085,15947
KingstonuponThames,9,104,35,184,72,1547,2875,638,469,42,...,3041,71,31,3788,1038,1190,825,20,2395,5419
Lambeth,64,406,136,477,826,8090,9697,3143,667,150,...,1830,380,123,855,8267,803,3414,185,8028,24349
Lewisham,164,271,1170,332,6677,4963,7251,2457,457,133,...,583,657,141,259,11118,406,3949,236,1901,13727
Merton,34,181,56,251,316,2952,6051,3193,554,49,...,23205,157,31,1334,2282,3743,1704,81,8410,10148
Newham,2702,401,147,513,207,3855,5009,190,431,584,...,139,24269,2969,126,2089,56,9120,2161,534,8565
Redbridge,4664,567,141,386,132,3790,8205,173,343,1187,...,100,6031,28666,88,1760,48,6916,5441,262,8122
RichmonduponThames,15,173,12,342,64,2504,4831,323,1469,41,...,840,65,12,24074,1213,260,1197,46,1991,8336
Southwark,108,319,281,428,933,6003,9041,1213,536,135,...,566,580,161,313,28224,261,4243,251,2545,16500
Sutton,33,81,68,138,514,1450,2560,7602,309,45,...,6725,95,26,750,1404,30814,872,41,3217,4691
TowerHamlets,370,257,140,192,192,4080,10104,183,291,224,...,124,1845,407,151,2182,55,23242,562,405,9304
WalthamForest,846,715,79,491,149,5554,6337,253,440,2661,...,122,3257,3736,101,1719,41,4789,28062,409,10314
Wandsworth,34,297,69,422,324,7140,13935,1496,970,116,...,4329,208,59,2338,4092,992,4024,135,29768,24409
Westminster,25,514,17,1229,99,6786,9521,216,925,121,...,178,170,60,258,1663,61,2851,121,873,36348

# Export data as dataframe and numpy array

In [38]:
# Export to csv
od_matrix.to_csv('../data/validation/commuter/borough_od_matrix.csv')
# Export to txt
np.savetxt('../data/validation/commuter/borough_od_matrix.txt',od_matrix.to_numpy())

In [39]:
# Export to csv
origin_supply.to_csv('../data/validation/commuter/borough_origin_supply.csv')
# Export to txt
np.savetxt('../data/validation/commuter/borough_origin_supply.txt',origin_supply['Supply'].to_numpy())
np.savetxt('../data/validation/commuter/borough_origin_locations.txt',origin_supply[['lon','lat']].to_numpy())

In [41]:
# Export to csv
destination_demand.to_csv('../data/validation/commuter/borough_destination_demand.csv')
# Export to txt
np.savetxt('../data/validation/commuter/borough_destination_demand.txt',destination_demand['Demand'].to_numpy())
np.savetxt('../data/validation/commuter/borough_locations.txt',destination_demand[['lon','lat']].to_numpy())

In [37]:
np.savetxt('../data/input/commuter/destination_locations.txt',destination_demand[['lon','lat']].to_numpy())